{% extends "templates/base.html" %}

{# Remove Frappe navbar #}
{% block navbar %}{% endblock %}

{# Remove Frappe banner #}
{% block banner %}{% endblock %}

{# Remove Frappe footer #}
{% block footer %}{% endblock %}

{# Add Google Fonts #}
{% block head_include %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Tajawal:wght@400;500;700;800&display=swap" rel="stylesheet">
{% endblock %}

{# Override content to render page_content directly without container/sidebar wrapper #}
{% block content %}
<div style="margin:0; padding:0;">
	{% block page_content %}{% endblock %}
</div>
{% endblock %}
